/* My styles */

#title {
  margin: auto;
  width: 50%;
  text-align: center;
}

#board {
  text-align: center;
}

#canvas {
  background: #fff;
  margin: 20px;
}

.button {
  display: block;
  max-width: 300px;
  text-align: center;
  margin: auto;
}
